$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: "Barlow Condensed", Helvetica, sans-serif;
$font-size: rem(20px);
$font-weight-bold: 700;
$border-radius: rem(2px);
$choice-size: rem(20px);

/*
Colors

The standard colors.

Colors:
$black: rgb(5, 5, 5) - Dark color
$white: rgb(250, 250, 250) - Light color
$grey: rgb(128, 128, 128) - Neutral color

Styleguide: colors
*/
$black: rgb(5, 5, 5);
$white: rgb(250, 250, 250);
$grey: rgb(128, 128, 128);
