/*
Quotation

The standard quotation block to quote someone.

Styleguide: layouts.quotation

Markup: <blockquote cite="https://www.huxley.net/bnw/four.html">
 <p>
  Words can be like X-rays,
  if you use them properly—they’ll go through anything.
  You read and you’re pierced.
 </p>
</blockquote>

Weight: 1
*/
blockquote {
	padding: rem(10px);
	font-style: italic;

	> :first-child {
		&::before {
			content: "«";
			font-size: $font-size * 1.2;
		}

		&::after {
			content: "»";
			font-size: $font-size * 1.2;
		}
	}
}
